## Eclipse (we include .project etc as we will want these for installation of labs)
*.pydevproject
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties

# External tool builders
.externalToolBuilders/
platform-archetypes/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# Gradle
build
.gradle

## IntelliJ
*.iml
*.ipr
*.iws
.idea/
out/
target/
## Windows
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

## Mac
.DS_Store

## MS Office temporary files
~$*.*

*.rdb
